name: DCO

on:
  pull_request:

permissions:
  contents: read

jobs:
  dco:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: DCO Check
        uses: tim-actions/dco@v2
